<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erp.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.erp.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productId" property="productId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="comsumerId" property="comsumerId" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="brokerage" property="brokerage" jdbcType="VARCHAR" />
    <result column="operateUserId" property="operateUserId" jdbcType="INTEGER" />
    <result column="expressCom" property="expressCom" jdbcType="VARCHAR" />
    <result column="expressNum" property="expressNum" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="confirmTime" property="confirmTime" jdbcType="VARCHAR" />
    <result column="tpye" property="tpye" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, productId, count, comsumerId, price, brokerage, operateUserId, expressCom, expressNum, 
    createTime, confirmTime, tpye
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.erp.model.Order" >
    insert into order (id, productId, count, 
      comsumerId, price, brokerage, 
      operateUserId, expressCom, expressNum, 
      createTime, confirmTime, tpye
      )
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, 
      #{comsumerId,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{brokerage,jdbcType=VARCHAR}, 
      #{operateUserId,jdbcType=INTEGER}, #{expressCom,jdbcType=VARCHAR}, #{expressNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{confirmTime,jdbcType=VARCHAR}, #{tpye,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erp.model.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="comsumerId != null" >
        comsumerId,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="brokerage != null" >
        brokerage,
      </if>
      <if test="operateUserId != null" >
        operateUserId,
      </if>
      <if test="expressCom != null" >
        expressCom,
      </if>
      <if test="expressNum != null" >
        expressNum,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="confirmTime != null" >
        confirmTime,
      </if>
      <if test="tpye != null" >
        tpye,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="comsumerId != null" >
        #{comsumerId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="brokerage != null" >
        #{brokerage,jdbcType=VARCHAR},
      </if>
      <if test="operateUserId != null" >
        #{operateUserId,jdbcType=INTEGER},
      </if>
      <if test="expressCom != null" >
        #{expressCom,jdbcType=VARCHAR},
      </if>
      <if test="expressNum != null" >
        #{expressNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="tpye != null" >
        #{tpye,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.erp.model.Order" >
    update order
    <set >
      <if test="productId != null" >
        productId = #{productId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="comsumerId != null" >
        comsumerId = #{comsumerId,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="brokerage != null" >
        brokerage = #{brokerage,jdbcType=VARCHAR},
      </if>
      <if test="operateUserId != null" >
        operateUserId = #{operateUserId,jdbcType=INTEGER},
      </if>
      <if test="expressCom != null" >
        expressCom = #{expressCom,jdbcType=VARCHAR},
      </if>
      <if test="expressNum != null" >
        expressNum = #{expressNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        confirmTime = #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="tpye != null" >
        tpye = #{tpye,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erp.model.Order" >
    update order
    set productId = #{productId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      comsumerId = #{comsumerId,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      brokerage = #{brokerage,jdbcType=VARCHAR},
      operateUserId = #{operateUserId,jdbcType=INTEGER},
      expressCom = #{expressCom,jdbcType=VARCHAR},
      expressNum = #{expressNum,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=VARCHAR},
      confirmTime = #{confirmTime,jdbcType=VARCHAR},
      tpye = #{tpye,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>